@import '../../node_modules/bootstrap/scss/bootstrap.scss';
/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';
// @import 'vendor/';
@import 'base/base';
@import 'base/animations';
@import 'base/typography';
@import 'base/utilities';

//layoyt
@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/content';
// @import 'component/';
@import 'components/book';
@import 'components/Book';
@import 'components/tabs';
@import 'components/signup';


//pages

@import 'pages/home';

