.book {
  &-card {
    font-family: "Montserrat", sans-serif;
    color: #4b3b42;
    background-color: #eeeed6;
    &-detailed {
      margin: 1rem auto;
      border-width: 1px 0px;
    }
    &-brief {
      margin: 1rem 2rem;
    }
    &-img {
      width: 100%;
            height: 35rem;
        }
    }
    .btn ,  .dropdown-menu {
        width: 34rem;
        font-size: 1.5rem;
    }
}

}