.book {
  &-card {
    font-family: "Montserrat", sans-serif;
    color: #4b3b42;
    background-color: #eeeed6;
    &-detailed {
      margin: 1rem auto;
      border-width: 1px 0px;
    }
    &-brief {
      margin: 1rem 2rem;
    }
    &-img {
      width: 100%;
      padding: 1rem;
    }
    &-title {
      font-size: 3rem;
      &-detailed {
        font-weight: 700;
      }
      &-brief {
        font-size: 2rem;
        font-weight: 600;
      }
    }
    &-author {
      font-size: 2rem;
<<<<<<< HEAD
    }
  }
  &-flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &-grey-text {
    margin-left: 0.3rem;
  }
}

=======
    }
  }
  &-flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &-grey-text {
    margin-left: 0.3rem;
  }
}

.shelfDropdown {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 2rem 0rem 0rem !important;
  }
  &-btn {
    outline: none;
    background-color: #98aeb6;
    border-color: #98aeb6;
    &:hover,
    &:focus,
    &:active {
      outline: none !important;
      background-color: #6d8c97 !important;
      border-color: #6d8c97 !important;
      box-shadow: none !important;
    }
  }
  &-menu {
    left: -12rem !important;
    font-size: 1.5rem;
  }
}

.myAlign-center {
  text-align: center;
  padding: 0.3rem 1rem 0rem 0rem;
}

>>>>>>> 700a1bc11104fd167f77b40a491b0a4fecf8b7c3
.shelfDropdown {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 2rem 0rem 0rem !important;
  }
  &-btn {
    outline: none;
    background-color: #98aeb6;
    border-color: #98aeb6;
    &:hover,
    &:focus,
    &:active {
      outline: none !important;
      background-color: #6d8c97 !important;
      border-color: #6d8c97 !important;
      box-shadow: none !important;
    }
  }
  &-menu {
    left: -12rem !important;
    font-size: 1.5rem;
  }
}

.myAlign-center {
  text-align: center;
  padding: 0.3rem 1rem 0rem 0rem;
}
